[submodule "submodules/gaussian-splatting"]
	path = submodules/gaussian-splatting
	url = https://github.com/christoaluckal/gaussian-splatting.git
	branch = edgs_vgs
[submodule "submodules/RoMa"]
	path = submodules/RoMa
	url = git@github.com:Parskatt/RoMa.git
